a {
  color: inherit;
}

.container {
  margin: 2em 0;
  padding: 0 1em;
}

nav {
  background-color: #080808;
  color: #FFFAFA;
  padding: 0.5em 1em;
}

nav .nav-header,
nav a {
  color: #FFFAFA;
  text-decoration: none !important;
  font-size: 18px;

}

footer a {
  color:aliceblue;
  background-color: #2a363b;
  padding: 2px 5px 5px 5px;
  font-weight: 300;
  transition: all 0.5s ease;
}

.footerContainer {
  display: flex;
  justify-content: center;
}

.iconLink {
  margin: 0 0.5em;
}

.text-center {
  text-align: center;
}

/* ~~~~~~~~~ Home Buttons ~~~~~~~~~*/

.homeButtonContainer {
  display: flex;
  justify-content: center;
}

.homeButtonContainer button {
  margin: 0.5em 0.5em;
  font-size: 18px;
  line-height: 1.5;
}

.btn {		
	position: relative;	
	padding: 1.4rem 2rem;
	font-size: 1.4rem;
	color: var(--inv);
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

