.container {
  display: flex;
  margin: 2em 0;
}

footer a {
  color:aliceblue;
  background-color: #2a363b;
  padding: 2px 5px 5px 5px;
  font-weight: 300;
  transition: all 0.5s ease;
}

.footerContainer {
  display: flex;
  justify-content: center;
}

.iconLink {
  margin: 0 0.5em;
}

.text-center {
  text-align: center;
}