.kanjiContainer {
    display: flex;
    justify-content: center;
  }

  .kanjiContainer .kanji {
    font-size: 3em;
  }

  .btnContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
  }

  .shuffleBtn {
    position: absolute;
    left: 50%;
  }

  .d-none {
    display: none;
  }